#app {
  background-color: #f8f9fa;
}
.horizm-card {
  border-radius: 1em;
  margin-top: 2em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.horizm-table {
  padding: 0.5em;
}
.strong { font-weight: 700 }
.highlight {
  font-weight: 700;
  color: #00daff;
 }